body{
    align-items: center;
    justify-content: center;
    background-color: rgb(63, 51, 81);
    display: flex;
    justify-content: space-around;
}

.card{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: blueviolet;
}
.container{
    display: flex;
    text-align: center;
    margin: auto;
}
.main{
    background-color: brown;
    margin: 20px;
    padding: 10px;
}